* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
/* Diet section */

.diet-section {
  display: flex;
  background-image: url(./images/shapes/Frame-57.jpg);
  background-repeat: no-repeat;
}
.diet-container {
  width: 50%;
  padding-left: 50px;
  margin-left: 60px;
}

.diet-container img {
  margin-left: -70px;
  width: 100%;
}
.diet-container h1 {
  font-size: 60px;
}
.diet-container-h1 {
  padding-top: 100px;
}
.diet-container p {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.diet-container span {
  color: orangered;
}
.diet-container a {
  text-decoration: none;
  padding: 20px 30px;
  background: linear-gradient(#e40d0d, #e0d01e);
  font-weight: 900;
  color: white;
  font-size: 20px;
  border-radius: 150px;
}

/* About me section */
.aboutme-section {
  display: flex;
  background-image: url(./images/shapes/7.png);
  background-repeat: no-repeat;
  margin-top: 30px;
}

.aboutme-container {
  width: 50%;
  padding-left: 60px;
  margin-top: 120px;
}
.aboutme-container img {
  width: 50%;
  margin-left: 150px;
}
.aboutme-container h1 {
  font-size: 40px;
  color: teal;
  margin-bottom: 50px;
  margin-top: 60px;
}
.aboutme-container p {
  padding-right: 180px;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 50px;
}
.aboutme-container a {
  text-align: center;
  text-decoration: none;
  padding: 20px 30px;
  background: linear-gradient(#e40d0d, #e0d01e);
  font-weight: 900;
  color: white;
  font-size: 20px;
  border-radius: 150px;
}

/* Recipies section */

.recipie-header {
  text-align: center;
  padding: 30px 350px;
}
.recipie-header h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}
.recipie-header p {
  font-weight: 400;
  font-size: 18px;
}

.recipies-container {
  display: flex;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.recipie-title {
  background-color: white;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  padding-top: 20px;
  box-shadow: 1px 1px 15px 10px #e5dede;
  margin-bottom: 20px;
}
.one {
  margin-left: 100px;
  margin-right: 5px;
}
.two {
  margin-left: 5px;
  margin-right: 100px;
}
.recipie-title img {
  width: 90%;
  height: 300px;
  border-radius: 10px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.recipie-title h2,
.recipie-title p {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.recipie-title h2 {
  font-size: 30px;
  font-weight: 900;
}
.recipie-title p {
  padding-bottom: 30px;
}

/* Followers Section */
.follower-container {
  border-radius: 10px;
  display: flex;
  margin: 30px 135px;
  padding: 0px 20px;
  box-shadow: 1px 1px 15px 10px #e5dede;
}
.followers {
  width: 30%;
  text-align: center;
  padding: 0px 20px;
  margin: 40px;
}
.followers h1 {
  font-size: 48px;
  font-weight: 700;
}
.followers h6 {
  font-size: 16px;
  font-weight: 400;
}

/* Footer Section */
footer {
  background-color: black;
  text-align: center;
  padding: 50px;
}
footer h1 {
  margin-bottom: 40px;
  color: green;
  font-weight: 800;
  font-size: 30px;
}
footer h1 span {
  color: rgb(218, 16, 16);
}
footer h6 {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 60px;
}
